.features_container {
    margin: 20px;
}

.section {
    margin-bottom: 40px;
}

.section_title {
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
}

.grid_container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    background-color: white;
    border-radius: 10px;
    border: 2px solid black;
    padding: 20px;
}
.info {
    font-size: 25px;
}
.map {
    max-width: 600px;
    height: auto;
}

.first_apartment, .third_apartment, .second_apartment, .house, .nearby_places {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    text-align: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 10px;
    border: solid black 3px;
    padding: 10px 80px 10px 80px;
    position: relative;
    font-size: 30px;
}

.places {
    padding: 5% 7%;
    line-height: 60px;
}

h2 {
    text-align: center;
    font-size: 28px;
}

@media (max-width: 768px) {
    .first_apartment, .third_apartment, .second_apartment, .house, .nearby_places {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }
}

@media (min-width: 768px) {
    .grid_container {
        grid-template-columns: 1fr 1fr;
        align-items: start;
    }
}

@media (max-width: 768px) {
    .grid_container {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 768px) {
    .map {
        width: 100%;
        max-width: 100%;
        height: auto;
    }
}