.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    margin-bottom: 10px;
}

.carouselImage {
    width: 400px;
    height: 550px;
    object-fit: cover;
}

.carouselButton {
    background: none;
    border: none;
    font-size: 100px;
    cursor: pointer;
    color: black;
    z-index: 1;
    margin: 20px;
}

.carouselButton:hover {
    color: rebeccapurple;
}

.carouselButton:focus {
    outline: none;
}

.carouselButton:nth-child(1) {
    left: 0;
}

.carouselButton:nth-child(3) {
    right: 0;
}

@media (max-width: 768px) {
    .carouselImage {
        width: 100%;
        height: auto;
    }
    .carouselButton {
        margin: auto -60px;
        color: wheat;
    }
}