.form_container {
    margin: 20px 550px 20px 550px;
    display: grid;
    place-items: center;
    padding: 30px;
    border: solid black 3px;
    border-radius: 10px;
    background-color: indigo;
    color: white;
}
.form_description {
    text-align: center;
}
.form {
    display: grid;
    place-items: center;
}
.input_data {
    width: 250px;
    height: 10px;
    padding: 10px;
    border-radius: 2px;
}
.button_form {
    width: 75px;
    height: 40px;
    margin-top: 20px;
}
