body {
    margin: 0;
    font-family: "Times New Roman", serif;
    background-color: mediumpurple;
}
footer {
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: black;
}