footer {
    background-color: black;
    padding: 20px;
    text-align: center;
    border-top: 1px solid #ddd;
}

.footer_links {
    margin-bottom: 10px;
}

.footer_link {
    margin: 0 10px;
    color: white;
    text-decoration: none;
}

.footer_link:hover {
    text-decoration: underline;
}

.social_media {
    margin: 20px 0;
}

.social_icon {
    margin: 0 10px;
    font-size: 24px;
    color: white;
    text-decoration: none;
}

.social_icon:hover {
    color: #000;
}

.footer_copyright {
    margin-top: 10px;
    font-size: 14px;
    color: white;
}
